.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.btn-filter-active {
    background-color: aqua;
    color: white;
    font-weight: bold;
    border: aqua;
}

.task {
    font-weight: bold;
}

.task-isDone {
    font-weight: normal;
    text-decoration: line-through;
}